[build-system]
requires = ["maturin>=1.0"]
build-backend = "maturin"

[project]
name = "tiny_lfm_builtin"
version = "0.0.1"
requires-python = ">=3.8"
classifiers = [
    "Programming Language :: Rust",
    "Programming Language :: Python :: Implementation :: CPython",
]